# API URL del backend (Railway)
# prod:    https://web-production-f91fd.up.railway.app/api
# develop: https://web-production-f91fd.up.railway.app/api  ← mismo dominio por ahora
EXPO_PUBLIC_API_URL=https://web-production-f91fd.up.railway.app/api
